li {
	list-style: none;
}
a {
   text-decoration: none;
   cursor: pointer;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-site-menu {
    transform: rotate(-90deg);
    top: 300px;
    align-items: end;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    right: 5%;
    li {
        margin: 0;
    }
    a {
        width: 100%;
        height: 100%;
        font-size: 2.4rem;
        color: black;
        border-bottom: 1px solid black;
    }
    &.white {
        // background-color: rgba(0,0,0,.6);
        a {
           color: white; 
           border-bottom: 1px solid white;
        }    
    }
    /* width: 20%; */
}

h1.sublime-logo {
    height: 50px;
    cursor: pointer;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.white {
        color: white;
        border: 1px solid white;
    }
}