.home-section-description {
  h2 {
    color: black;
    margin: 2rem;
    padding: 10px;
    font-size: 10rem;
    font-family: Chocolate;
    position: relative;
  }
  &.black {
    h2, p {
      color: white;
    }
    background-color: black;
  }
}

section.home-section {
  z-index: 100;
  background-color: white;
  // padding-top: 10rem;
}
.video {
  margin-top: -15%;
  height: 100%;
  width: 100%;
  background-color: black;
}
.title-container {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  h2 {
    max-width: 650px;
  }
}

.home-section-video {
  position: relative;
  h2 {
    color: white;
    background-color: black;
    margin: 2rem;
    padding: 10px;
    font-size: 10rem;
    font-family: Chocolate;
    position: relative;
  }
  p {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  background: url('/home-video.mp4')
}
@font-face {
  font-family: Chocolate;
  src: url('/fonts/Chocolate.woff2');
}
.home-section-title {
  z-index: 0;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*font-family: Chocolate;*/
  color: black;
  text-transform: uppercase;
  /*background-color: black;*/
  // background-color: white;
  -webkit-transition: all 1000ms linear;
  -ms-transition: all 1000ms linear;
  transition: all 1000ms linear;
}
.home-section-video {
  height: auto;
  top: 0;
  z-index: 0;
  position: relative;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Chocolate;
  color: black;
  text-transform: uppercase;
  background-color: black;
  -webkit-transition: all 1000ms linear;
  transition: all 1000ms linear;
}
.home-section-title h1 {
  // -webkit-transition: all 1000ms linear;
  // -ms-transition: all 1000ms linear;
  // transition: all 1000ms linear;
  color: #010121;
  margin-bottom: 10rem; 
  font-size: 20rem !important;
  @media (--sm-viewport) {
    font-size: 30rem;
  }
}
.fade-down-enter-active, .fade-down-leave-active {
  transition: all .8s
}
.fade-down-enter, .fade-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-120px);
}

.fade-enter-active, .fade-leave-active {
  transition: all 3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.arrow-down {
  cursor: pointer;
  transform: scale(2);
  color: #010121;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
  height: 16px;
  background-color: currentColor;
  margin-top: 80px;
}
.arrow-down:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 3px;
  width: 40px;
  height: 40px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  animation-name: arrow-down;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes arrow-down {
  0% {
    transform: translateY(-10px) rotate(135deg);
  }
  50% {
    transform: translateY(0px) rotate(135deg);
  }
  100% {
    transform: translateY(-10px) rotate(135deg);
  }
}

body {
  background-color:  #010121;
}